<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OnlineConfig</title>
  <link rel="stylesheet" href="./style.css">

</head>


<body>

    <div class="wrapper">

        <div class="top_left_panel">
            <label style="display: block; margin-top: 3%;" for="model_type">Выберите модель</label>
            <select style="transform: scale(1.5);" name="models" id="models">
              <option value="Desktop">Десктопный ПК</option>
              <option value="Monoblock">Моноблок</option>
              <option value="Laptop">Ноутбук</option>
              <option value="Tablet">Планшет</option>
              <option value="Smartphone">Смартфон</option>
            </select>
        </div>
    

        <div class="top_panel">
        <button onclick="document.location='/main'" style="display: flex;">ГЛАВНАЯ</button>
        <p> Главная / Поиск конфигураций и сборок </p>
        </div>



        <!-- ОКНО С ВЫБОРОМ КОМПЛЕКТУЮЩИХ -->
        <div class="left_panel" style="overflow-y:auto;">
           <div class="option_element">
            <input type="checkbox" unchecked style="display: inline-block; transform: scale(1.5);"/>
                <div class="button_component" style="display: inline-block;">
                    Корпус
                </div>
           </div>
           <div class="option_element">
            <input type="checkbox" unchecked style="display: inline-block; transform: scale(1.5);"/>
                <div class="button_component" style="display: inline-block;">
                    Хранилище
                </div>
           </div>
           <div class="option_element">
            <input type="checkbox" unchecked onclick="spawn_cpu_search()" style="display: inline-block; transform: scale(1.5); "/>
                <div class="button_component" style="display: inline-block;">
                    Процессор
                </div>
           </div>
           <div class="option_element">
            <input type="checkbox" unchecked onclick="spawn_ram_search()" style="display: inline-block; transform: scale(1.5);"/>
                <div class="button_component" style="display: inline-block;">
                    ОЗУ
                </div>
           </div>
           <div class="option_element">
            <input type="checkbox" unchecked style="display: inline-block; transform: scale(1.5);"/>
                <div class="button_component" style="display: inline-block;">
                    Составной компонент +
                </div>
           </div>
           <div class="option_element">
            <input type="checkbox" unchecked style="display: inline-block; transform: scale(1.5);"/>
                <div class="button_component" style="display: inline-block;">
                    Составной компонент +
                </div>
           </div>
        
        </div>
        <!-- ОКНО С ВЫБОРОМ КОМПЛЕКТУЮЩИХ -->



        <!-- ОКНО С ПОИСКОМ -->
        <div class="right_panel" style="overflow-y:auto; overflow-x:auto;">
            <div id="cpus_container" style="display: none;"> 
               <div class="seacrh_form" style="width: 90%;">
                    <div style="width: 100%;">
                        Форма поиска процессора
                    </div>
                
                    <div style="display: inline-block; margin-top:2vh; width: 33.33%; float: left;">
                        Цена
                    </div>
                    <div style="display: inline-block; margin-top:2vh; width: 33.33%; float: left;">
                        Кол-во ядер
                    </div>
                    <div style="display: inline-block; margin-top:2vh; width: 33.33%; float: left;">
                        Частота
                    </div>
    
                    <div style="display: inline-block; margin-top:2vh; width: 100%; height:4.5vh; background-color: darkgray; box-sizing: border-box; border: 2px solid rgba(1, 1, 1, 1);">
                        <div style="display: inline-block; width: 33.33%; float: left;">
                         <input type="text" id="name" placeholder="Введите число" size="10" /> - <input type="text" id="name" placeholder="Введите число" size="10" />
                        </div>
                        <div style="display: inline-block; width: 33.33%; float: left;">
                            <input type="text" id="name" placeholder="Введите число" size="10" />
                        </div>
                        <div style="display: inline-block; width: 33.33%; float: left;">
                            <input type="text" id="name" placeholder="Введите число" size="10" />
                        </div>
                    </div>

               </div>
            </div>

            <div id="ram_container" style="display: none; "> 
                <div class="seacrh_form" style="width: 90%;" >
                     <div style="width: 100%;">
                         Форма поиска ОЗУ
                     </div>
                 
                     <div style="display: inline-block; margin-top:2vh; width: 33.33%; float: left;">
                         Цена
                     </div>
                     <div style="display: inline-block; margin-top:2vh; width: 33.33%; float: left;">
                         Обьем
                     </div>
                     <div style="display: inline-block; margin-top:2vh; width: 33.33%; float: left;">
                         Частота
                     </div>
     
                     <div style="display: inline-block; margin-top:2vh; width: 100%; height:4.5vh; background-color: darkgray; box-sizing: border-box; border: 2px solid rgba(1, 1, 1, 1);">
                         <div style="display: inline-block; width: 33.33%; float: left;">
                          <input type="text" id="name" placeholder="Введите число" size="10" /> - <input type="text" id="name" placeholder="Введите число" size="10" />
                         </div>
                         <div style="display: inline-block; width: 33.33%; float: left;">
                             <input type="text" id="name" placeholder="Введите число" size="10" />
                         </div>
                         <div style="display: inline-block; width: 33.33%; float: left;">
                             <input type="text" id="name" placeholder="Введите число" size="10" />
                         </div>
                     </div>
 
                </div>
 
          

           
        </div>
        <!-- ОКНО С ПОИСКОМ -->


   

        </div>


        
        <div class="bottom_right_panel">


            <div class="bottom_right_panel_contents" style="height: 100%; width: 50%; margin-left: 50%; text-align: center;">

                <div style="margin-right: 5%; width: 80%; height: 95%;"> 
                    <button class="button_operations" type="button" style="width: 100%; height: 70%;" onclick="document.location='configurations_search.html'" onclick="make_editable()">Открыть конфигурации</button>
                </div>

            </div>

        </div>


    </div>
    <script  src="./script.js"></script>
</body>
</html>