
<!-- ОКНО С ВЫБОРОМ КОМПЛЕКТУЮЩИХ -->
            <div id="Desktop_components">
                <div class="button_with_options_case">
                    <button class="button_component_with_plus" type="button">Корпус</button>
                    <button id="case_plus_button" class="button_component_plus" type="button" onclick="show_or_hide_case_opts()";> + </button>
                 </div>
    
                <div id="case_hidden_opts" style="margin-left:10%; display: none;">
                    <div class="button_with_options_mb">
                        <button class="button_component_with_plus" type="button">Материнка</button>
                        <button id="mb_plus_button" class="button_component_plus_mb" type="button" onclick="show_or_hide_mb_opts()";> + </button>
                    </div>
            
                    <div id="mb_hidden_opts" class="buttons_hidden_mb">
                        <button id="cpus_button" class="button_component" type="button" onclick="show_cpus()";>Процессоры</button>
                        <button class="button_component" type="button">Озу</button>
                        <button class="button_component" type="button">+ Компонент</button>
    
                    </div>
                </div>
    
                <button class="button_component" type="button">+ Компонент</button>
                <button class="button_component" type="button">+ Компонент</button>
                <button class="button_component" type="button">+ Компонент</button>
                <button class="button_component" type="button">+ Компонент</button>
                <button class="button_component" type="button">+ Компонент</button>
                <button class="button_component" type="button">+ Компонент</button>
                <button class="button_component" type="button">+ Компонент</button>
                <button class="button_component" type="button">+ Компонент</button>
            </div>

        <!-- ОКНО С ВЫБОРОМ КОМПЛЕКТУЮЩИХ -->
   