<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OnlineConfig</title>
  <link rel="stylesheet" href="/style.css">
 </head>


<body style="text-align: center;">

    <div class="top_panel">
        <p>  Online configurator </p>
    </div>

    <div style="text-align: center; display: inline-block; transform: scale(2.0); margin-top: 10%;"> 
        
        <form class="form_login_password" >
            Login <input type="text" placeholder="Логин"/><br>
            Password <input type="text" placeholder="Пароль"/><br>
            <button class="button" type="button" onclick="document.location='/main'">Войти</button>
        </form>

        

    </div>
    
</body>
</html>