<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OnlineConfig</title>
  <link rel="stylesheet" href="./style.css">

</head>


<body>

    <div class="wrapper">

        <div class="top_left_panel">
           Пользователь
           <div style="display: block; margin-top: 5%; box-sizing: border-box; border: 2px solid rgba(1, 1, 1, 1); background-color: white; color: black;">
            Владелец продукта
           </div>
        </div>
    

    <div class="top_panel">
        <button onclick="document.location='/'" style="display: flex;">ВЫХОД</button>
        <p>Главная</p>
    </div>

    
        <div class="left_panel">
        <button class="button_component" type="button" onclick="document.location='/components'">БД компонентов</button>
        <button class="button_component" type="button" onclick="document.location='/configurator'">Поиск конфигураций сборок</button>
        <button class="button_component" type="button" onclick="document.location='/reports'">Отчет</button>
        <button class="button_component" type="button" onclick="document.location='/settings'">Настройки</button>
        
        </div>


        <div class="right_panel" >
        </div>


        <div class="bottom_right_panel" >
        </div>

</div>


    <script  src="./script.js"></script>
</body>
</html>