<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OnlineConfig</title>
  <link rel="stylesheet" href="./style.css">


</head>


<body>

    <div class="wrapper">

        <div class="top_left_panel">
            </div>

        <div class="top_panel">
        <button onclick="document.location='/main'" style="display: flex;">ГЛАВНАЯ</button>
        <p>Главная / Отчеты</p>
        </div>



        <!-- ОКНО С ВЫБОРОМ КОМПЛЕКТУЮЩИХ -->
        <div class="left_panel" style="overflow-y:auto;">
        
        </div>
        <!-- ОКНО С ВЫБОРОМ КОМПЛЕКТУЮЩИХ -->



        <!-- ОКНО С ПОИСКОМ -->
        <div class="right_panel" style="overflow-y:auto; overflow-x:auto;">
           
        </div>
        <!-- ОКНО С ПОИСКОМ -->

        
        <div class="bottom_right_panel">

        </div>


    </div>

    <script  src="./script.js"></script>
</body>
</html>